@use '@carbon/styles';

$background-color: #424242;
$color: #fff;

.centered {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.dark-mode {
    background-color: $background-color;
    color: $color;
    .cds--label {
        color: $color;
    }
    .cds--text-input {
        border-bottom: 1px solid $color;
    }
}

.container {
    max-width: 1366px;
    margin: 0 5%;
}

.notification-container {
    left: 75%;
    position: fixed;
}
